{% extends 'base.html' %}

{% block content %}
<div class="container pt-4 pb-5 height-100">
    <h1>Wanna know something interesting today??</h1>
    <div class="row mt-5">
        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="./static/images/androidPic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-success text-white"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                    <a href="{% url 'details' %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="./static/images/androidPic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'details' %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="./static/images/androidPic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'details' %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="./static/images/androidPic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'details' %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="./static/images/androidPic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'details' %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
