
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container p-5 ">
        <div class="row p-5 shadow justify-content-center">
            <div class="col-lg-6">
                <h2>Login</h2>
                <hr>
                <div class="mt-5">
                    <div class="mb-3">
                        <label for="loginUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="loginUsername" name='username'>
                        <!--<div id="emailHelp" class="form-text"></div>-->
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="loginPassword" name='password'>
                    </div>
                    <!--<div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>-->
                    <button class="btn btn-primary mb-3" onclick="login()">Login</button>
                </div>
                <p>
                    Don't have an account? <a href="{% url 'register' %}">Sign up</a>
                </p>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'images/androidPic.png' %}" class="img-fluid img-responsive" height="400" width="450" alt="...">
            </div>
        </div>
        
    </div>

{% endblock content %}
